


@{
ViewData["Title"] = "Index";

}



<h3 class="text-success text-center mt-3 ">Conheça nossos pacotes promocionais</h3>
<div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
    <ol class="carousel-indicators mt-2">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-next">
        <table class="carousel-item active">
            <tr>
                <td><a><img class="d-block w-75 " src="./img/fortaleza.png" alt="First slide"></a></td>
                <td><a> <img class="d-block w-75" src="./img/cancu.png" alt="Second slide"> </a></td>
                <td><a> <img class="d-block w-100" src="./img/portoseguro.png" alt="Third slide"></a></td>

            </tr>
        </table>
        <div class="carousel-item">
            <table class="carousel-item active">
                <tr>
                    <td><a><img class="d-block w-75 " src="./img/natal.png" alt="First slide"></a></td>
                    <td><a> <img class="d-block w-75" src="./img/p-galinha.png" alt="Second slide"> </a></td>
                    <td><a> <img class="d-block w-75" src="./img/balneario-camboriu-.jpg" alt="Third slide"></a></td>

                </tr>
            </table>

        </div>



    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>