
@model IEnumerable<Florent_Viagens.Models.Contato>
@{ ViewData["Title"] = "Index"; }

<table class="container-fluid">
    <tr>
        <td>

            <div class="card text-center mt-4 m-md-5  " style="width: 11rem ;">
                <div class="row card bg-white " style="border-radius: 25px;">
                    <h5 class="text-success"> WhatsApp </h5>
                    <img src="./img/zap.png" class=" card-img-top text-white" alt="WhatsApp" />
                    <p class="card-text text-success text-center">(21) 99985-6425  </p>
                </div>
            </div>
        </td>

        <td>
            <div class="card  text-center mt-4 m-md-5  " style="width: 10rem;">

                <div class="row card bg-white " style="border-radius: 25px;">
                    <h5 class="text-success"> E-mail </h5>
                    <img src="./img/email.png" class=" card-img-top text-white" alt="WhatsApp" />.
                    <p class="card-text text-success text-center"> florentviagens.com.br </p>
                </div>

            </div>
        </td>

        <td>
            <div class="card  text-center mt-4 m-md-5" style="width: 9rem;">

                <div class="row card bg-white " style="border-radius: 25px;">
                    <h5 class="text-success"> Instragan </h5>
                    <img src="./img/instagram-logo.png" class=" card-img-top text-white" alt="WhatsApp" />.
                    <p class="card-text text-success text-center"> ViagensFlorent  </p>
                </div>

            </div>

        </td>
    </tr>
</table>



